html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f5f5f5, #090505);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: background-animation 10s linear infinite;
  }

  @keyframes background-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /*cookies.html */
  .cookies {
    margin: 12.4% 16.4% 20.4% 16.4%;
  }
  #cooki {
    text-decoration: none;
    color: white;
  }

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    text-align: center;
    z-index: 9999;

    animation: cookieAnimation 10000000000000s ease-in 5.2s;
    visibility: hidden;
  }

  @keyframes cookieAnimation {
    to {
      visibility: visible;
    }
  }
  .accept-cookies-button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }

  .accept-cookies-button:hover {
    background-color: #000000;
  }
  .title a:nth-child(1) {
    text-decoration: none;
    color: white;
  }

  .title {
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    text-align: center;

    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 1000;
    transform: translateY(-180%);
  }

  header a {
    text-decoration: none;
    color: white;
  }
  header {
    margin-top: 2%;
    padding: 20px;

    background: rgba(174, 171, 171, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(174, 171, 171, 0.3);
  }

  header h1 {
    margin: 0;
    color: white;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background: rgba(134, 95, 133, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(250, 134, 248, 0.68);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: rgb(193, 123, 171);
    color: #fff;
  }

  main {
    margin: 20px;
  }

  #info {
    background: rgba(255, 250, 250, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 250, 250, 0.27);
    padding: 10px;
    margin: 20px 30px 0px 30px;
  }
  #info a {
    color: black;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

  .card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
  }

  .card::before {
    content: "";
    width: 104%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff33,
      #3c66e34e 43%,
      #4e00c266
    );
    position: absolute;
    z-index: -1;
    top: 36%;
    left: -2%;
    animation: spin 4.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f5f5f5, #090505);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: background-animation 10s linear infinite;
  }

  @keyframes background-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /*cookies.html */
  .cookies {
    margin: 12.4% 16.4% 20.4% 16.4%;
  }
  #cooki {
    text-decoration: none;
    color: white;
  }

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    text-align: center;
    z-index: 9999;

    animation: cookieAnimation 10000000000000s ease-in 5.2s;
    visibility: hidden;
  }

  @keyframes cookieAnimation {
    to {
      visibility: visible;
    }
  }
  .accept-cookies-button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }

  .accept-cookies-button:hover {
    background-color: #000000;
  }
  .title a:nth-child(1) {
    text-decoration: none;
    color: white;
  }

  .title {
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    text-align: center;

    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 1000;
    transform: translateY(-155%);
  }

  header a {
    text-decoration: none;
    color: white;
  }
  header {
    margin-top: 2%;
    padding: 20px;

    background: rgba(174, 171, 171, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(174, 171, 171, 0.3);
  }

  header h1 {
    margin: 0;
    color: white;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background: rgba(134, 95, 133, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(250, 134, 248, 0.68);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: rgb(193, 123, 171);
    color: #fff;
    border-radius: 30%;
  }

  main {
    margin: 20px;
  }

  #info {
    background: rgba(255, 250, 250, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 250, 250, 0.27);
    padding: 10px;
    margin: 20px 30px 0px 30px;
  }
  #info a {
    color: black;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 260px;
    height: 360px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 3.5%;
    position: relative;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f5f5f5, #c611d6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 3.5%;
 
  }
  .card p {
    padding: 10px;
  }
  .card h3 {
    padding: 25px;
    margin-top: 13%;
  }
  .card:hover {
    scale: 1.2;
  }

  .card:nth-child(1) {
    background-image: url(Tome.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    background-image: linear-gradient(
      to bottom rgb(110, 194, 148) rgb(59, 163, 126)
    );
  }
  .card:nth-child(1) p {
    padding-top: 15%;
  }

  .card:nth-child(2) {
    background-image: url(Descript.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(2) p {
    padding-top: 15%;
  }
  .card:nth-child(3) {
    background-image: url(rawshorts.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(3) p {
    padding-top: 15%;
  }
  .card:nth-child(4) {
    background-image: url(designs.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(4) p {
    padding-top: 15%;
  }
  .card:nth-child(5) {
    background-image: url(lumen5.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(5) p {
    padding-top: 15%;
  }
  .card:nth-child(6) {
    background-image: url(gliacloud.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(6) p {
    padding-top: 15%;
  }
  .card:nth-child(7) {
    background-image: url(vimeo.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(7) p {
    padding-top: 15%;
  }
  .card:nth-child(8) {
    background-image: url(wisecut.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(8) p {
    padding-top: 15%;
  }
  .card:nth-child(9) {
    background-image: url();
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(9) p {
    padding-top: 15%;
  }
  .card:nth-child(10) {
    background-image: url(vedia.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(10) p {
    padding-top: 15%;
  }
  .card:nth-child(11) {
    background-image: url(yarn.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(11) p {
    padding-top: 15%;
  }
  .card:nth-child(12) {
    background-image: url();
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(12) p {
    padding-top: 15%;
  }

  .card button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f5f5f5, #090505);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: background-animation 10s linear infinite;
  }

  @keyframes background-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #code{
    display: none;
  }

  /*cookies.html */
  .cookies {
    margin: 12.4% 16.4% 20.4% 16.4%;
  }
  #cooki {
    text-decoration: none;
    color: white;
  }

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    text-align: center;
    z-index: 9999;

    animation: cookieAnimation 10000000000000s ease-in 5.2s;
    visibility: hidden;
  }

  @keyframes cookieAnimation {
    to {
      visibility: visible;
    }
  }
  .accept-cookies-button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }

  .accept-cookies-button:hover {
    background-color: #000000;
  }
  .title a:nth-child(1) {
    text-decoration: none;
    color: white;
  }

  .title {
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    text-align: center;

    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 1000;
    transform: translateY(-180%);
  }

  header a {
    text-decoration: none;
    color: white;
  }
  header {
    margin-top: 7%;
    padding: 20px;

    background: rgba(174, 171, 171, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(174, 171, 171, 0.3);
  }

  header h1 {
    margin: 0;
    color: white;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background: rgba(134, 95, 133, 0.68);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(250, 134, 248, 0.68);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: rgb(193, 123, 171);
    color: #fff;
  }

  main {
    margin: 20px;
  }

  #info {
    background: rgba(255, 250, 250, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 250, 250, 0.27);
    padding: 10px;
    margin: 20px 30px 0px 30px;
  }
  #info a {
    color: black;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
  }

  .card::before {
    content: "";
    width: 104%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff33,
      #3c66e34e 43%,
      #4e00c266
    );
    position: absolute;
    z-index: -1;
    top: 36%;
    left: -2%;
    animation: spin 4.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  .card {
    width: 260px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.738);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 18%;
    position: relative;
  }
  .card p {
    padding: 10px;
  }
  .card h3 {
    padding: 25px;
    margin-top: 13%;
  }

  .card:hover {
    scale: 1.2;
  }

  .card:nth-child(1) {
    background-image: url(Tome.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    background-image: linear-gradient(
      to bottom rgb(110, 194, 148) rgb(59, 163, 126)
    );
  }
  .card:nth-child(1) p {
    padding-top: 15%;
  }

  .card:nth-child(2) {
    background-image: url(Descript.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(2) p {
    padding-top: 15%;
  }
  .card:nth-child(3) {
    background-image: url(rawshorts.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(3) p {
    padding-top: 15%;
  }
  .card:nth-child(4) {
    background-image: url(designs.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(4) p {
    padding-top: 15%;
  }
  .card:nth-child(5) {
    background-image: url(lumen5.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(5) p {
    padding-top: 15%;
  }
  .card:nth-child(6) {
    background-image: url(gliacloud.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(6) p {
    padding-top: 15%;
  }
  .card:nth-child(7) {
    background-image: url(vimeo.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(7) p {
    padding-top: 15%;
  }
  .card:nth-child(8) {
    background-image: url(wisecut.png);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(8) p {
    padding-top: 15%;
  }
  .card:nth-child(9) {
    background-image: url();
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(9) p {
    padding-top: 15%;
  }
  .card:nth-child(10) {
    background-image: url(vedia.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(10) p {
    padding-top: 15%;
  }
  .card:nth-child(11) {
    background-image: url(yarn.jpg);
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(11) p {
    padding-top: 15%;
  }
  .card:nth-child(12) {
    background-image: url();
    background-size: 100% 36%;
    background-repeat: no-repeat;
    background-color: rgb(179, 214, 244);
  }
  .card:nth-child(12) p {
    padding-top: 15%;
  }

  .card button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
}

/* Textarea*/
#contact-title {
  color: white;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .input-group {
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 800px) {
  .input-group {
    position: relative;
    margin-right: 33%;
    margin-left: 33%;
    margin-top: 10%;
  }
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  margin-left: 4em;
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #d7d5d5;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-image: linear-gradient(to right, #060709, #ce6298);
  padding: 0.2em;
  color: #fff;
}

#submit:focus,
#submit:valid {
  outline: none;
  border: 1.5px solid #d7d5d5;
}

#submit:focus ~ label,
#submit:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-image: linear-gradient(to right, #060709, #ce6298);
  padding: 0.2em;
  color: #fff;
}

/*Submit button*/

#submit {
  position: relative;
  padding: 0.1em 3em;
  outline: none;
  border: 1px solid #303030;
  margin: 0 0 0% 0;
  color: #e5d9eb;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(45, 18, 18, 0);
}

#submit:hover {
  box-shadow: 0 0 10px #ce6298, 0 0 25px #070709, 0 0 50px #ce6298;
  transition-delay: 0.6s;
}

#submit span {
  position: absolute;
}

#submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e5d9eb);
}

#submit:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

#submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e5d9eb);
}

#submit:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

#submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e5d9eb);
}

#submit:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

#submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e5d9eb);
}

#submit:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

#submit:active {
  background: #120d12;
  background: linear-gradient(to top right, #000000, #ce6298);
  color: #bfbfbf;
  box-shadow: 0 0 8px #000000, 0 0 8px #ce6298, 0 0 8px #ce6298;
  transition: 0.1s;
}

#submit:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/*Textarea*/

input,
textarea {
  margin-bottom: 10px;
  padding: 15px 10px 10px;

  color: #fff7f7;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: rgb(149, 148, 148);
  margin-top: 12%;
}
footer a {
  color: grey;
}
